body{
    margin: 0;
    background-image:url('mc-01.jpg');
}

main{
    width: 632px;
    height: 800px;
    background: black;
}

.vierkant{
    float:left;
}

#vierkant1{
    height: 217px;
    width: 200px;
    background: rgb(255, 0, 0);
    margin-left: 8px;
    margin-top: 8px;
}
#vierkant2{
    height: 217px;
    width: 200px;
    background-color:yellow;
    margin-left: 8px;
    margin-top: 8px;
    
}

#vierkant3{
    height: 217px;
    width: 200px;
    background-color:white;
    margin-left: 8px;
    margin-top: 8px;
}

#vierkant4{
    height: 275px;
    width: 306px;
    background-color: white;
    margin-top: 8px;
    margin-left: 8px;
}

#vierkant5{
    height: 275px;
    width: 302px;
    background-color: blue;
    margin-left: 8px;
    margin-top: 8px;
}

#vierkant6{
    height: 276px;
    width: 250px;
    background-color: white;
    margin-left: 8px;
    margin-top: 8px;
}

#vierkant7{
    height: 134px;
    width: 125px;
    background-color: yellow;
    margin-left: 8px;
    margin-top: 8px;
}

#vierkant8{
    height: 134px;
    width: 224px;
    background-color: white;
    margin-left: 8px;
    margin-top: 8px;
}

#vierkant9{
    height: 134px;
    width: 356px;
    background-color: red;
    margin-left: 8px;
    margin-top: 8px;
}